.cont-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.logo {
  width: 75%;
  display: flex;
  justify-content: center;
}

.cont-searchbar {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  padding: 0 20px;
  align-items: center;
  margin-top: 20px;
}

.search-input {
  margin-right: 20px;
}

.search-input input {
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
  width: 100%;
}

.search-input input:focus {
  outline: none;
}

.btn-search button {
  background-color: #363636;
  border: none;
  border-radius: 10px;
  height: 100%;
  color: white;
  height: 44px;
}

.cont-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px; */
}

.title-pokedex {
  width: 70%;
  display: flex;
  justify-content: center;
}

.title-pokedex2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.poke-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 10px;
  margin-bottom: 20px;
}

.pokemon-card {
  /* display: flex; */
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid;
  border-radius: 3px;
  padding: 10px;
  width: 300px;
  margin: 5px;
}

.poke-img {
  width: 80px;
  height: 80px;
  padding: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  flex: 1;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-top h3 {
  text-transform: capitalize;
}

.poke-type {
  display: flex;
}

.poke-text {
  margin-right: 10px;
  text-transform: capitalize;
}

.pagination {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.pagi-text {
  margin-left: 2px;
  margin-right: 2px;
}

.pagination button {
  cursor: pointer;
}

.heart-navbar {
  display: flex;
  margin-right: 5px;
}

@media screen and (max-width: 340px) {
  .heart-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.favorites-navbar {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
}
